


  header{
    background-image: url('../../assets/images/toedit.png');
    height: 900px;

}


header h1{
    color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-left: 70px;
    font-size: 80px;
    font-weight: 900

}

header p{
    color: white;
    padding-left: 70px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}

section{


    height: 500px;
}

header a{
    margin-left: 350px;
}

header button{
    width: 200px;
    height: 50px;
}