/* *{

    background-image: url('./images/bg.jpg');
    color: #fff;
}
 */

body{

    background-image: url('./images/bg.jpg');
    background-image: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)) , url('./images/bg.jpg');

}

.container{

    color: white;
}

.container button{
background-color: rgb(165, 117, 82);
border: white;

    
}

.container button:hover {
    background-color: black;
  }

  .container table tr{

    margin-bottom: 20px;
  }

 .conrainer tbody tr {
    padding-bottom: 50px; 

}

