.navbar {
    background-color: #f4ab5e!important;
}
.signup-btn {
    background-color: #fbb95b;
    border-color: #e78803;
}
.signup-btn:hover {
    background-color: #f19e2a94;
    border-color: #e78803;
}
.errors-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.tableimg {
    width: 25px;
}
/* *{

    background-image: url('./images/bg.jpg');
    color: #fff;
}
 */

body{

    background-image: url('./images/bg.jpg');
    background-image: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)) , url('./images/bg.jpg');

}

.container{

    color: white;
}

.container button{
background-color: rgb(165, 117, 82);
border: white;

    
}

.container button:hover {
    background-color: black;
  }

  .container table tr{

    margin-bottom: 20px;
  }

 .conrainer tbody tr {
    padding-bottom: 50px; 

}

