* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(../assets/products/background1.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  background-color: #eee !important;
  /* font-family: 'Rancho', cursive; */
}

.navbar {
  background-color: #d3ad7f !important;
  /* color: #202020; */
}

.navbar .navbar-nav li a {
  color: #202020 !important;
}
.p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container_admin_product {
  width: 90%;
  margin: auto;
}

.container_admin_category {
  width: 80%;
  margin: auto;
}
.title_container {
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.title_product {
  text-transform: capitalize;
  font-size: 40px;
  padding-bottom: 10px;
  font-family: 'Rancho', cursive;
  color: #d79860 !important;
  margin: 0 !important;
  transition: all 0.3s;
  position: relative;
}
.title_product::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #d79860;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}

.title_product::before {
  content: '';
  width: 0%;
  position: absolute;
  height: 3px;
  background-color: #d79860;
  bottom: 5px;
  left: 0;
  transition: all 0.3s;
}

.title_product:hover::after {
  width: 0%;
}

.title_product:hover::before {
  width: 100%;
}
.title_product:hover {
  text-shadow: 0 0 10px white;
}
.title_product i {
  margin-inline: 10px;
  font-size: 50px;
  color: black;
  text-shadow: 0 0 10px white;
}

.btn_product {
  background-color: #d79860;
  border: none;
  color: #202020;
  font-family: 'Rancho', cursive;
  font-size: 30px;
  position: relative;
  padding: 5px 10px;
  border-radius: 6px;
  text-decoration: none;
  z-index: 1;
}

.btn_product::after {
  content: '';
  background-color: #202020;
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s;
  border-radius: 6px;
}
.btn_product:hover::after {
  width: 100%;
  /* color: white; */
  /* background-color: white; */
  text-decoration: none;
  border-radius: 6px;
}

.btn_product:hover {
  text-decoration: none;
  color: #f29a44;
  border-radius: 6px;
}

table {
  border-collapse: collapse;
  text-transform: capitalize;
  background-color: rgb(174 181 184 / 56%) !important;
}

td {
  padding: 30px;
  border: 1px solid #ccc;
  vertical-align: middle !important;
  font-size: 20px;
  /* color: white !important; */
}

/* tr:hover {
  background-color: #3e444abe !important;
  color: white !important;
} */

.container_page_num {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-inline: auto;
}

.num_page,
.num_page_active {
  background-color: #796449ac;
  display: block;
  margin-inline: 20px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-family: 'Rancho', cursive;
  font-weight: 600;
  color: white;
}
.num_page:hover {
  color: #202020;
  text-decoration: none;
}

.num_page_active {
  background-color: #202020;
  /* color: black; */
  box-shadow: 0 0 30px rgb(255, 255, 255);
}
.btn_delete {
  color: red !important;
  font-size: 20px;
}

/* .btn_delete:hover {
  color: rgb(255, 0, 0) !important;
} */

.btn_edit {
  color: rgb(250, 185, 65) !important;
  font-size: 20px;
}
