body{
    background-color: orange;
}
.card{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}
.cart-img{
    height: 400px;
}
img{
    object-fit: cover;
    object-position: bottom;
    height: 100%;
}
.cart-title{
    padding: 10px 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.376);
}
.card-body{
    padding-top: 0;
}
.rmv-btn{
    display: flex;
width: fit-content;
margin: auto;
font-size: 18px;
font-weight: 500;
}